:root {
  --usedBlue: rgba(25, 118, 210, 255);
}
antiLink {
  text-decoration: none;
}

.grafiek {
  border: 2px solid #ccc;
  border-radius: 2rem;
  width: fit-content;
  padding: 0 2rem;
  margin: 2rem;
  background-color: rgb(250, 250, 250);
}

.grafiek h3 {
  text-align: center;
  background-color: #ccc;
  border-radius: 2rem;
  padding: 1rem 0;
}

.box {
  width: 75%;
  margin: 0 auto;
  padding: 0 2rem;
  border: 3px solid #ccc;
  border-radius: 2rem;
}

.boxnoborder {
  width: 90%;
  margin: 0 auto;
  padding: 0 2rem;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flexbox {
  width: 200px;
  height: 200px;
  padding: 0 2rem;
  border: 3px solid var(--usedBlue);
  background-color: var(--usedBlue);
}

.center {
  text-align: center;
  margin: 0 auto;
}

.small {
  font-size: 1rem;
  color: white;
}

.padvert1-5 {
  padding: 1.5rem 0;
}
Button {
  height: 2.5rem;
}
