antiLink {
  text-decoration: none;
}

.grafiek {
  border: 2px solid black;
  border-radius: 2rem;
  width: fit-content;
  padding: 0 2rem;
  margin: 2rem;
  background-color: rgb(250, 250, 250);
}

.grafiek h3 {
  text-align: center;
  background-color: #ccc;
  border-radius: 2rem;
  padding: 1rem 0;
}
