:root {
  --usedBlue: rgba(25, 118, 210, 255);
}
antiLink {
  text-decoration: none;
}

.graph {
  border: 2px solid #ccc;
  border-radius: 2rem;
  min-width: 700px;
  width: 80%;
  min-height: 30rem;
  padding: 0 2rem;
  margin: 2rem;
  background-color: "rgba(0, 0, 0, 0.0)",
}

.graph h3 {
  text-align: center;
  background-color: #ccc;
  border-radius: 2rem;
  margin: 1rem auto;
  padding: 1rem 0;
  width: 100%;
}

.box {
  width: 75%;
  margin: 0 auto;
  padding: 0 2rem;
  border: 3px solid #ccc;
  border-radius: 2rem;
}

.boxnoborder {
  width: 90%;
  margin: 0 auto;
  padding: 0 2rem;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flexDashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flexbox {
  width: 200px;
  height: 200px;
  padding: 0 2rem;
  border: 3px solid var(--usedBlue);
  border-radius: 2rem;
  background-color: var(--usedBlue);
}

.loadspinner {
  justify-self: center;
  size-adjust: 3rem;
  align-self: center;
}


.dropdown {
  border-radius: 1rem;
  border:3px,solid,var(--usedBlue);
  background-color: #ccc;
  margin-left: auto;
  padding-left: 1rem;
  font-size: 1.12rem;
  margin-right: 9rem;
  flex:inherit;

}

.center {
  text-align: center;
  margin: 0 auto;
}

.small {
  font-size: 1rem;
  color: white;
}

.padvert1-5 {
  padding: 1.5rem 0;
}
Button {
  height: 2.5rem;
}

.MuiLinearProgress-root {
  width:500;
  padding-bottom: 20;
  
}